 .about-section {
    flex-direction: row; 
    gap: 50px;           
    padding: 40px 0;
}
.about-img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

.about-content{
    gap: 15px;
    align-items: flex-start;
}
.span{
    color: var(--clr-primary-dev--1);
}
